<section>
    <div class="row about ">
        <div class="col-12">
            <div class="container py-5 my-5">
                <h1 class="pt-3">The GiftsShop Is a leader Store for
                    <br> Gifts of all kinds.
                </h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br> doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore<br> veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam<br> voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur<br> magni dolores eos qui ratione
                    voluptatem sequi nesciunt neque.
                </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br> doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore<br> veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam<br> voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur<br> magni dolores eos qui ratione
                    voluptatem sequi nesciunt neque.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-12">
                <h3 class="pb-2">OUR COMPANY STORY</h3>
                <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt neque.
                </p>
            </div>
            <div class="col-md-6 col-12 contact">
                <h3>CONTACT US</h3>
                <div class="text-muted">
                    <p>Address: 7895 Piermont Dr NE Albuquerque, NM 198866,United States of America</p>
                    <p>Phone: +123 4567 8989 & +123 4567 8989</p>
                    <p>Hours: ALL WEEK FROM 9 AM TO 9 PM</p>
                    <p>E-mail: <a class="text-muted" href="mailto:info@mydomain.com">info@mydomain.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>