<section>
  <div class="container my-5 py-5">
    <div *ngIf='!product'>
      <app-notfound></app-notfound>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-7">
        <img [src]="product.imgURL" alt="">
      </div>
      <div class="col-lg-6 col-md-5">
        <div class="pt-3 px-2">
          <h4 class="text-primary">{{ product.desc }}</h4>
          <p>{{product.brand}}</p>
          <h5>Price: <span class="text-info">{{ product.price | currency }}</span></h5>
          <p class="longDesc text-muted">{{ product.longDesc }}</p>
        </div>
          <button class="btn btn-primary mt-3 ml-2 p-2">
            <i class="fa fa-shopping-basket"></i>
            Add to Cart
          </button>
      </div>
    </div> <!-- row-->
  </div> <!-- container-->
</section>