@import '../styles/colors';

.navbar {
    & {
        background-color: $white;
        border-bottom: 1px solid $muted;
    }

    &.navbar-dark {
        .navbar-toggler {
            background-color: $primary;
            &:focus {
                outline: none;
            }
        }
        
    }
    .navbar-brand {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }

    .nav-item {
        .nav-link {
            color: $black;
            &.active{
                color: $primary;
            }
        }
        &:hover {
            .nav-link {
                color: $primary;
            }
        }
    }
    
    #cart-icon-div {
        &{
            position: relative;
        }
        #cart-items {
            position: absolute;
            right: -3px;
            bottom: 15px;
            border-radius: 50%;
            padding: 1px 5px;
            color: $primary;
            font-weight: 500;
            font-size: 14px;
           }
    }
}