<section id="shopping-cart" class="my-5 py-5">
    <div class="container py-5">
        <div class="row py-5 flex-column align-items-center justify-content-center">
            <i class="fa fa-shopping-cart cart text-muted d-block" aria-hidden="true"></i>
            <h1 class="text-uppercase text-dark my-4">Shopping Cart is Empty</h1>
            <p class="text-uppercase text-muted">you have no items in your shopping cart</p>
            <a class="text-uppercase btn btn-primary px-4 py-2" routerLink="/products">continue shopping</a>
        </div>
    </div>
</section>