@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import 'app/styles/colors';

body, html {
    font-family: 'Philosopher', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 5px;
}

div.owl-nav{

    button.owl-next,
    button.owl-prev {
        position: absolute;
        top: 30%;
        font-size: 35px !important;
        color: $primary !important;
        &:hover {
            background-color: transparent !important;
        }
    }
    button.owl-prev{
        left: -40px;
    }
    button.owl-next{
        right: -40px;
    }
}
