@import '../styles/colors';
@import '../styles/mixins';

 /* ###########################################
 *        ###### Header Start #######        */
header {
      
    .one, .two, .three, .four  {
        position: relative;
    }

    .onetext {
        @include TextDiv(20px 40px);
    }

    .twotext, .threetext, .fourtext
    {
        @include TextDiv(15px 25px);
    }
 }
 

 @media screen and (max-width: 420px) {
    header {
        * {
            font-size: 1rem;
        }
        .twotext, .threetext {
            font-size: 14px;
            padding: 10px 15px;
        }      
    }     
   }

   
 /*        ###### Header End #######
 * ######################################## */
 

  
/* ###########################################
 * ###### Product Card Component Start ####### */
.card {
    .product-top {
        & {
            position: relative;
        }
        .product-overlay {
            position: absolute;
            top: 20%;
            right: 4%;
            padding: 8px 10px;
            background-color: $white;
            color: $dark;
            border-radius: 50%;
            transform: scale(0);
            overflow: hidden;
            transition: all .25s;
        }

        &:hover {
            .product-overlay {
                transform: scale(1.1);
                overflow: hidden;
                &:hover {
                    cursor: pointer;
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
    .card-body {
        padding: 5px;
        position: relative;
        background-color: $white;
        transition: all .25s;
        * {
            margin: 2px;
        }
        .btn {
            position: absolute;
            left: 25%;
            right: 25%;
            transform: scale(0);
            transition: all .25s;
        }
    }

    &:hover {
        .card-body {
            & {
                transform: translate(0, -50px);
            }
            .btn {
                transform: scale(1);
            }
        }

        
    }

}

.modal {
    .modal-dialog {
        top: 10%;
        max-width: 70%;
        margin: 0 auto;
    }
}
/* ###### Product Card Component End #######
 * ######################################## */


  


/* ###########################################
 * ###### Pre-footer section Start ####### */
.pre-footer {
    .left {
        position: relative;
    }

    .left-text {
        @include TextDiv(15px 25px);
    }
}

 /* ###### Pre-footer section End #######
 * ######################################## */
