<!-- header section start -->
<header class="mt-5 py-5">
    <div class="container">
        <div class="row mainrow">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="one mb-4">
                    <img class="img-fluid" src="../../assets/img/demo04_01_600x.jpg" alt="">
                    <a class="d-block text-dark text-decoration-none" routerLink="/products">
                        <div class="onetext text-center">
                            <h6>Assorted</h6>
                            <h4>CATEGORIES</h4>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="two mb-4">
                            <img class="img-fluid" src="../../assets/img/demo04_02_300x.jpg" alt="">
                            <a class="d-block text-dark text-decoration-none" routerLink="/products">
                                <div class="twotext text-center">
                                    Women
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="three mb-4">
                            <img class="img-fluid" src="../../assets/img/demo04_03_300x.jpg" alt="">

                            <a class="d-block text-dark text-decoration-none" routerLink="/products">
                                <div class="threetext text-center">
                                    Men
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="four">
                            <img class="img-fluid" src="../../assets/img/demo04_04_600x.jpg" alt="">

                            <a class="d-block text-dark text-decoration-none" routerLink="/products">
                                <div class="fourtext text-center">
                                    <h6>A LOT OF</h6>
                                    <h4>UNIQUE GIFTS</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section end -->

